html{
    background:darkmagenta;
}
#register{
    display:inline-block;
    float:right;
    border: 1px solid white;
    border-radius: 10px;
}

#post_read{
    text-align: center;
    border: 1px solid white;
    display: inline-block;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#post_read > h6{
    margin-top: -3%;
}

#explore_subjects{
    text-align: center;
    border: 1px solid white;
    display: inline-block;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
    
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-apr-29, 10:14:30
    Author     : Leandro
*/

